<div class="top-row ps-3 navbar navbar-dark">
    <div>
        <a class="navbar-brand" href="">Car Hauling Analytics</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <RadzenIcon Icon="dashboard" /><span class="ms-1">Overview</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="analyze">
                <RadzenIcon Icon="query_stats" /><span class="ms-1">Analyze</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="compare">
                <RadzenIcon Icon="compare_arrows" /><span class="ms-1">Compare</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
