@page "/compare"

<PageTitle>Compare data</PageTitle>

<h1>В разработке</h1>

<br>

<iframe width="900" height="500" src="https://www.youtube.com/embed/Trk0kLjL4Wk?si=Fcv_i3JNejA48Go0?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>